.card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    z-index: -1;

}

.card-image {
    position: relative;
}

.card-image img {
    width: 100%;
    height: auto;
    display: block;
}

/* Tag Styles */
.tag {
    width: 100px;
    height: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%, 0% 40%);
    direction: rtl;
    position: absolute;
    bottom: 0;
    right: 0;
}

.tag .tag-text {
    text-align: right;
    margin: 0;
    padding: 0 5px;
    font-size: 0.9rem;
    font-weight: lighter;

}


.card-event {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.card-image-event {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-image-event img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    /* display: block; */
}

.card-content {
    padding: 15px;
    text-align: center;
}

.card-content h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;

}



.card-footer {
    padding-left: 50%;
    padding-bottom: 7px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #888;
    direction: rtl;
    margin-right: 0.5vw;
}

.card-footer span {
    display: inline-block;
}

/* Sections */
section {
    padding: 20px;
}


.articles-container-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    width: 60vw;

}

.articles-container-1 .card {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
}

.section-2 {
    width: 100%;

}

.articles-container-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    width: 85vw;
    margin-left: 1vw;

}

.articles-container-2 .card {
    flex: 1 1 calc(25% - 20px);
}

.buttom-image-container-2 img {
    width: 80vw;
    height: auto;
    border-radius: 8px;
}


section article {
    background: #f9f9f9;
    flex: 1 1 calc(50% - 15px);

    padding: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

section article h3 {
    font-size: 1.2rem;
}

section article p {
    font-size: 0.9rem;
}

.section-2-hr {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-right: 9vw;
    direction: rtl;
}

.section-2-hr h3 {
    margin-right: 1vw;
    white-space: nowrap;
}

.section-2-hr hr {
    flex: 1;
    margin: 0;
    border: none;
    border-top: 0.5px solid orange
}


/* ************************************************************************************************************************ */

/* Mobile Styles */
@media (max-width: 767px) {

    .articles-container-1,
    .articles-container-2 {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1px;
        box-sizing: border-box;
        border: 1px solid #ddd;
        direction: rtl;
        text-align: right;
    }


    .card-image {
        position: absolute;
        top: 0;
        right: 0;
        width: 40vw;
        height: 40vh;
        max-width: 80%;
        height: auto;
    }

    .card-image img {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
    }

    .tag {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 2;
    }


    .card-content {

        margin-right: 140px;
        box-sizing: border-box;
    }

    .card-content h3 {
        margin: 0 0 10px;
        font-size: 0.6em;
        line-height: 1.2;
        justify-content: right;
    }

    .card-footer {
        margin-top: 10px;
        font-size: 0.4em;
        color: #666;
    }


    /* ****** */

    #snow-pic {
        display: none !important;
    }

    .section-2-hr {
        gap: 1vw;
    }

    .section-2-hr hr {
        display: none;
    }
}

/* Tablet Styles */
@media (max-width: 1024px) {

    .articles-container-1,
    .articles-container-2 {
        width: 90vw;
    }


    .articles-container-2 .card {
        flex: 1 1 calc(50% - 20px);
    }

    .articles-container-1 .card {
        flex: 1 1 calc(33.333% - 20px);

    }

    .articles-container-1 {
        margin-left: 2vw;
        gap: 3vw
    }
}