header {
    background-color: rgb(231, 223, 223);
    color: #fff;
    position: fixed;

}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 95vw;
    padding-right: 8vw;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
    direction: rtl;
}



header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
}


/* top navbar */
header .top-navbar {
    background-color: #5806C7;
    position: relative;
    padding-right: 8vw;
    box-sizing: content-box;
}

header .top-navbar::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 14vw;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

header .top-navbar .svg-container {
    position: absolute;
    top: 50%;
    right: 6vw;
    margin-top: 3vh;
    margin-right: 0.5vw;
    transform: translateY(-50%);
    z-index: 2;
}

.hamburger-menu {
    display: none;
}

header .top-navbar svg {
    width: 90px;
    height: 90px;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin: 0;
    margin-left: 2vw;

}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    color: orange;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.social-icon i {
    font-size: 8px;
}

.social-icon:hover {
    background-color: #8043e3;
    color: white;
}

.top-nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 2vw;
    text-align: right;
}




/* bottom navbar */
header .bottom-navbar {
    background-color: white;
    color: black;
    padding-right: 8vw;
    direction: rtl;

}

header .bottom-navbar nav ul li a {
    color: black;
    text-decoration: none;
    gap: 4vw;
}

.nav-bar-input {
    position: relative;
    margin-top: 0.5vh;
    margin-left: 1.5vw;
    height: 5vh;
    width: 17vw;
    border-radius: 30px;
    border: 1px solid orange;
    display: flex;
    align-items: center;
    background-color: white;
}

#search-input {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 30px;
    padding-left: 2.5vw;
    outline: none;

}

#search-icon {
    position: absolute;
    left: 1vw;
    color: gray;
    font-size: 1em;
}


/* mobile */
@media (max-width: 767px) {
    header nav {
        padding-right: 2vw;
    }

    .top-nav-links,
    .bottom-navbar ul {
        display: none;
    }

    /* Hamburger Menu Icon */
    .hamburger-menu {
        display: block;
        cursor: pointer;
        padding: 15px;
        z-index: 1000;
        order: -1;
    }

    #middle-ham-span {
        background-color: red; 
        width: 20px;
    }

    #last-ham-span {
        width: 12px;
    }


    .hamburger-menu span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px 0;
        transition: 0.3s;

    }



    .social-icons {
        gap: 5px;
    }

    .nav-bar-input {
        width: 40vw;
    }

    header .top-navbar::after {
        width: 1vw;
        background-color: #5806C7;
        right: 0;
    }

    .top-navbar {
        width: relative;
    }

    header .top-navbar .svg-container {
        position: absolute;
        top: 50%;
        right: 6vw;
        margin-top: 0.5vh;
        margin-right: 1.5vw;
        transform: translateY(-50%);
        z-index: 2;
    }



    #first-letter-logo-path {
        fill: white;
    }

    #second-word-logo-path {
        fill: white;
    }

    .social-icons,
    .top-nav-links,
    .bottom-navbar ul {
        display: none;
    }


    .mobile-menu-active .social-icons,
    .mobile-menu-active .social-icon,
    .mobile-menu-active .top-nav-links,
    .mobile-menu-active .bottom-navbar ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 80%;
        height: 100vh;
        background-color: #5806C7;
        padding: 60px 20px;
        z-index: 999;
    }

    .mobile-menu-active .social-icons .social-icon {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .mobile-menu-active .top-nav-links,
    .mobile-menu-active .bottom-navbar ul {
        gap: 15px;
        align-items: flex-start;
    }

    .mobile-menu-active .top-nav-links li a,
    .mobile-menu-active .bottom-navbar ul li {
        width: 100%;
    }

    .mobile-menu-active .top-nav-links a,
    .mobile-menu-active .bottom-navbar ul a,
    .social-icons li a {
        display: block;
        padding: 10px 0;
        width: 100%;
        color: white
    }


    .nav-bar-input {
        display: none;
    }


}