.section-with-sidebar {
    display: flex;
    gap: 12px; 
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 0 0 300px;
    padding-left: 20px;
    box-sizing: border-box;
    margin-top: 5vh;
    max-width: 300px;
}


/* mobile */
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
    
    .section-with-sidebar {
        flex-direction: column;
        width: 100%;
    }

    .vertical-line {
        display: none;
    }

    .main-content {
        width: 100%;
        padding: 0 10px;
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .sidebar {
        flex: 0 0 250px;
        max-width: 250px;
    }
}