body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #faf3fa;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}


/* main ad */
.main-ad {
    width: 60vw;
    height: 30vh;
    padding-top: 8vh;
    margin-top: 30px;
}


/* Main Article - bold man */
.main-article {
    width: 60vw;
    height: 40vh;
    padding-top: 10px;
    margin: 100px auto;
    background-color: white;
}

.main-article-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    gap: 20px;

}

.main-article-text {
    flex: 1;
    /* font-family: Arial, sans-serif; */
    color: #333;
}

.main-article-text h1 {
    font-size: 24px;
    margin-bottom: 10px;

}

.main-article-text p {
    font-size: 16px;
    line-height: 1.5;
    color: gray;
}



.main-article-pic {
    position: relative;
    width: 30vw;
    height: 40vh;
}

.main-article-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* Tag Styles */
.tag {
    background-color: #55EBB1;
    width: 160px;
    height: 50px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%, 0% 40%);
    direction: rtl;
    position: absolute;
    bottom: 0;
    right: 0;
}

.tag .tag-text {
    text-align: right;
    margin: 0;
    padding: 0 5px;
    font-size: 0.9rem;
    font-weight: lighter;

}


.main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.vertical-line {
    width: 1px;
    background-color: purple;
    height: auto;
    min-height: 100%;
    margin-top: 12vh;
    align-self: stretch;
    box-sizing: border-box;
}



/* Tablet Styles */
@media (max-width: 1024px) {
    .main-ad {
        width: 90vw;
        height: auto;
    }

    .main-article {
        width: 90vw;
    }

    .main-article-pic img {
        width: 40vw;
    }
}


@media (max-width: 1024px) and (min-width: 769px) {

    .main-ad {
        width: 90vw;
        height: auto;
        margin-top: 4vh;
    }

    img.main-ad#snow-pic {
        display: none !important;
    }

    .main-article {
        width: 90vw;
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .main-content {
        width: 100%;
    }

    .main-content {
        width: 100vw;
        padding: 0 0px;
        gap: 0.5px;
    }

    .main-ad {
        width: 100%;
        height: auto;
        padding: 10px;
        margin-top: 5vh;
        box-sizing: border-box;
    }

    .main-ad img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .buttom-image-container-2 {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .buttom-image-container-2 img {
        width: 100%;
        height: auto;
    }





    .main-article {
        width: 100vw;
        margin: 0 auto;
        /* Center the article */
    }

    .main-article-content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        /* Adjust spacing */
    }

    .main-article-pic {
        width: 90vw;
        order: -1;
    }

    .main-article-text {
        order: 1;
        text-align: center;
    }

    .main-article-text h1 {
        font-size: 20px;
    }

    .main-article-text p {
        font-size: 14px;
    }

    .tag {
        position: relative;
        bottom: 10px;
        right: 10px;
        clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%, 0% 40%);
        font-size: 2rem;
    }
}